body {
	background-color: #24273a;
	color:  #cad3f5;
	font-family: 'Montserrat', sans-serif;
	padding: 0;
	margin: 0 auto 0 auto;
	max-width: 800px;
}

a {
	color: #BD93F9;
	text-decoration: none;
}

a:hover {
	background-color: #494d64;
}

h1, h2, h3, h4 {
	font-weight: 600;
	margin: 1em 1ex 0.5ex 0;
}

h1 {
	font-size: 1.4em;
	color: #50FA7B;
}

h2 {
	font-size: 1.2em;
	color: #50FA7B;
}

h3 {
	font-size: 1.1em;
	color: #50FA7B;
}

h4 {
	font-size: 1.0em;
	color: #50FA7B;
}

#menu {
	clear: both;
	margin: 1.5em 0 0 0;
	padding: 0.5em 0 0.5em 0;
	font-size: 0.9em;
	max-width: 800px;
}

#menu a {
	padding: 0.5em 0.7em 0.5em 0.7em;
}

#menu a.thisSite {
	color: #cad3f5;
	font-weight: 600;
	background-color: #181926;
	border-left: 1px solid #181926;
	border-right: 1px solid #181926;
	border-top: 1px solid #181926;
	border-top-right-radius: 6px;
	border-top-left-radius: 6px;
	border-bottom: 1px solid  #181926;
}

#header {
	background-color:  #181926;
	clear: both;
	overflow: hidden;
	color: #BD93F9;
	border-left: 1px solid #181926;
	border-right: 1px solid #181926;
	#border-bottom: 1px solid #ccc;
	border-top: 1px solid #181926;
	border-top-right-radius: 6px;
	font-size: 1.2em;
	font-weight: 600;
	margin: 0;
	padding: 0;
}

.siteTitle {
	float: left;
	padding: 1em;
}

#content {
	clear: both;
	margin: 0;
	padding: 0;
	overflow: hidden;
	min-height: 300px;
}

#nav {
	background-color:  #181926;
	border-right: 1px solid #181926;
	border-bottom-right-radius: 9px;
	font-size: 0.9em;
	float: right;
	margin: 0 0 2em 1em;
	padding: 0;
	width: 200px;
}

#nav ul {
	margin: 0;
	padding: 0;
}

#nav li {
	list-style: none;
	padding: 0;
	margin: 0;
}

#nav li a {
	display: block;
	margin: 0;
	padding: 0.6em 0.6em 0.6em 1em;
	border-left: 1px solid #181926;
}

#nav li a.empty {
	background-color:  #181926;
	border-bottom: 1px solid #181926;
	border-bottom-right-radius: 9px;
}

#nav li a.thisPath {
	color:  #cad3f5;
	font-weight: 600;
}

#nav li a.thisPage {
	background-color: #24273a;
	color:  #cad3f5;
	font-weight: 600;
	border-top: 1px solid #181926;
	border-bottom: 1px solid #181926;
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
	border-left: 1px solid #24273a;
	border-right: 1px solid #181926;
	margin: 0px 17.28px 0px 0px;	
	padding: 8.64px 8.64px 8.64px 14.4px;
}

#main {
	margin: 0 0 1.5em 0;
	padding: 0.5em 1em;
	border-top: 1px solid #181926;
}

#footer {
	background-color:  #181926;
	border-top: 1px solid #181926;
	border-top-right-radius: 6px;
	border-top-left-radius: 6px;
	border-left: 1px solid #181926;
	border-right: 1px solid #181926;
	color:  #cad3f5;
	padding: 0.5em 1em;
	text-align: center;
}

